name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Run tests
        run: go test -cover ./...
        
      - name: Install gosec
        uses: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: gosec
        run: gosec -conf gosec.json .
  style:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Check style
        run: test -z $(go fmt ./...)

      - name: Set up linter
        run: go install honnef.co/go/tools/cmd/staticcheck@latest 
        
      - name: Lint code
        run: staticcheck ./...
          
